<!DOCTYPE html>
	<html>		
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mail@emmaslayton.com">email</a></li>
              <li><a href="https://twitter.com/emslayton">twitter</a></li>
		        	<li><a href="https://medium.com/@emmaslayton">medium</a></li>
			        <li><a href="https://www.linkedin.com/in/sslayton/">linkedin</a></li>
	        		<li><a href="https://github.com/emmaslayton">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
